.ind-1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 1.5em;
    z-index: 100;
    color: #ffffff;
    margin: 3px;
    margin: 35% 0px 0px -48%;
    position: absolute;
}